/* 

html, body, #root {
  height: 100%; 
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; 
  padding: 20px;
} */
