.main{
    min-height: 93vh;
    display:flex;
    align-items: center;
    background-image: url("../../background1.jpg");
    background-position: center;
    background-size: cover;
}

.title {
  font-size: clamp(40px, 8vw, 90px);
  line-height: 1.1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

.subtitle{
    font-size: 25px;
    padding-top: 10px;
}

.intro-text {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}

.buttonContainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.landingbutton{
    width: 200px;
    height: 55px;
}


@media only screen and (min-width:1200px){
    .buttonContainer{
        padding: 0 200px;
    }
    .title{
        padding: 0 100px;
    }
}


@media only screen and (max-width: 768px){
    .title{
        font-size: 60px;
    }
    .landingbutton{
        width:150px;
        height:50px;
    }
}